<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>

<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-8">
            <h2 class="section-headline">
                <span>User Account</span>
            </h2>
        </div>
        <div class="col-4">
            <img th:src="@{/img/logo.png}" class="img-fluid"/>
        </div>
    </div>
    <hr
            style="height: 6px; background-color: #333;margin-top:100px;"/>


    <div class="row" style="margin-top: 10px;">
        <div class="col-12">
            <div class="alert alert-success">
                <h3>
                    <i class="fa fa-check" aria-hidden="true"
                       style="color: limegreen;"></i> Thank you, your order has been
                    placed.
                </h3>
                <h4>
                    The estimated delivery date is <span
                        th:text="${estimatedDeliveryDate}"></span>
                </h4>
            </div>

            <h3>List of Items</h3>
            <div class="row" th:each="cartItem : ${cartItemList}">
                <hr/>
                <div class="col-2"></div>
                <div class="col-2">

                    <a th:href="@{/bookDetail(id=${cartItem.book.id})}">
                        <img th:src="@{/s3/image/{id}(id=${cartItem.book.id})}"
                             class="img-fluid" alt="nesto"/>
                    </a>
                    </a>
                </div>
                <div class="col-6">
                    <div style="margin-left: 50px;">
                        <a th:href="@{/bookDetail?id=}+${cartItem.book.id}"><h4
                                th:text="${cartItem.book.title}"></h4></a>
                    </div>
                </div>

                <div class="col-2">
                    <h5 style="color: #db3208; font-size: large;">
                        $<span th:text="${cartItem.book.ourPrice}"
                               th:style="${cartItem.book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of container -->
<div th:replace="common/header :: footer"/>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
